# Игнорируем папки bin и obj в любых проектах
**/bin/
**/obj/
**/ssl/
**/certs/
**/keys/

# Дополнительные игнорируемые файлы и каталоги

*.crt
*.pem
*.key
*.pfx
*.cer
*.der
*.csr
*.p12
*.keystore
*.jks
*.truststore
*.env
*.user
*.suo
*.sln.ide
*.vs/
*.vscode/
*.dbmdl
*.dbproj.schemaview
*.dbproj
*.jfm
*.jfm.user
*.pdb
*.log
*.tlog
*.cache
*.svg
*.png
*.jpg
*.jpeg
*.gif
*.woff
*.woff2
*.ttf
*.eot
*.bin
