<div class="product-card">
  <div class="product-image-container">
    <img [src]="product.image | image:'/assets/default-images/product-default.png'" 
         alt="Изображение товара" 
         class="product-image"
         onerror="this.src='/assets/default-images/product-default.png'">
  </div>
  
  <div class="product-info">
    <h3 class="product-name">{{ product.name || '&nbsp;' }}</h3>
    
    <div class="product-meta">
      <span class="product-price">{{ product.price | currency:'USD':'symbol':'1.2-2' }}</span>
      <span class="product-rating">
        ★ {{ (product.raiting || 0) | number:'1.1-1' }}
      </span>
    </div>
    
    <div class="product-categories">
      <span class="category-badge" *ngIf="product.type; else emptyBadge">
        {{ product.type }}
      </span>
      <span class="category-badge" *ngIf="product.category; else emptyBadge">
        {{ product.category }}
      </span>
      <ng-template #emptyBadge>
        <span class="category-badge empty">&nbsp;</span>
      </ng-template>
    </div>
    
    <p class="product-description">
      {{ product.description || '&nbsp;' | truncate:100 }}
    </p>

    <div class="product-actions">
      <button *ngIf="!isInCart" 
              class="button button-add" 
              (click)="addToCart.emit(); $event.stopPropagation()">
        Добавить в корзину
      </button>
      <button *ngIf="isInCart" 
              class="button button-remove" 
              (click)="removeFromCart.emit(); $event.stopPropagation()">
        Удалить из корзины
      </button>
  </div>
</div>